# SO
*.DS_Store

# Temp files
logs
*.log
*-debug.log*
.cache/
.*cache*

# dependencies
node_modules

# production
dist

# testing
coverage

# env files
.env
.env.*
!.env.example

# NODE/TS
*.tsbuildinfo
